<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AVInitialRouteSharingPolicy</key>
	<string>LongFormVideo</string>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>CinePlayer supported video files</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.avchd-content</string>
				<string>public.avchd-collection</string>
				<string>public.avi</string>
				<string>public.mpeg</string>
				<string>public.mpeg-4</string>
				<string>public.3gpp</string>
				<string>public.3gpp2</string>
				<string>public.movie</string>
				<string>public.iso-image</string>
				<string>com.microsoft.advanced-systems-format</string>
				<string>com.microsoft.windows-media-wmv</string>
				<string>cn.com.cinemore.fileformat.dvr-ms</string>
				<string>cn.com.cinemore.fileformat.flv</string>
				<string>cn.com.cinemore.fileformat.mpg</string>
				<string>cn.com.cinemore.fileformat.wmv</string>
				<string>cn.com.cinemore.fileformat.mkv</string>
				<string>cn.com.cinemore.fileformat.ts</string>
				<string>cn.com.cinemore.fileformat.m2ts</string>
				<string>cn.com.cinemore.fileformat.mts</string>
				<string>cn.com.cinemore.fileformat.avi</string>
				<string>cn.com.cinemore.fileformat.m4v</string>
				<string>cn.com.cinemore.fileformat.mov</string>
				<string>cn.com.cinemore.fileformat.mp4</string>
				<string>cn.com.cinemore.fileformat.mpeg</string>
				<string>cn.com.cinemore.fileformat.mod</string>
				<string>cn.com.cinemore.fileformat.wtv</string>
				<string>cn.com.cinemore.fileformat.ogm</string>
				<string>cn.com.cinemore.fileformat.ogv</string>
				<string>cn.com.cinemore.fileformat.webm</string>
				<string>cn.com.cinemore.fileformat.asf</string>
				<string>cn.com.cinemore.fileformat.rmvb</string>
				<string>cn.com.cinemore.fileformat.vob</string>
				<string>cn.com.cinemore.fileformat.mxf</string>
				<string>cn.com.cinemore.fileformat.dvdmedia</string>
				<string>cn.com.cinemore.fileformat.rm</string>
				<string>cn.com.cinemore.fileformat.f4v</string>
				<string>cn.com.cinemore.fileformat.f4p</string>
				<string>cn.com.cinemore.fileformat.f4a</string>
				<string>cn.com.cinemore.fileformat.f4b</string>
				<string>cn.com.cinemore.fileformat.swf</string>
				<string>cn.com.cinemore.fileformat.m1v</string>
				<string>cn.com.cinemore.fileformat.mpv</string>
				<string>cn.com.cinemore.fileformat.m2p</string>
				<string>cn.com.cinemore.fileformat.ps</string>
				<string>cn.com.cinemore.fileformat.divx</string>
				<string>cn.com.cinemore.fileformat.dv</string>
				<string>cn.com.cinemore.fileformat.3gp</string>
				<string>cn.com.cinemore.fileformat.3gpp</string>
				<string>cn.com.cinemore.fileformat.3gp2</string>
				<string>cn.com.cinemore.fileformat.iso</string>
				<string>cn.com.cinemore.fileformat.m3u8</string>
				<string>cn.com.cinemore.fileformat.mpd</string>
				<string>cn.com.cinemore.fileformat.strm</string>
			</array>
		</dict>
	</array>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLIconFile</key>
			<string></string>
			<key>CFBundleURLName</key>
			<string>cn.com.cinemore.app</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>cineplayerapp</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Top Shelf / 深链接</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>cineplayer</string>
			</array>
		</dict>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationPreferredDefaultSceneSessionRole</key>
		<string>UIWindowSceneSessionRoleApplication</string>
		<key>UIApplicationSupportsMultipleScenes</key>
		<true/>
		<key>UISceneConfigurations</key>
		<dict/>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIImageRespectsSafeAreaInsets</key>
		<true/>
	</dict>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
			</array>
			<key>UTTypeDescription</key>
			<string>DVR-MS</string>
			<key>UTTypeIdentifier</key>
			<string>cn.com.cinemore.fileformat.dvr-ms</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>dvr-ms</string>
				</array>
				<key>public.mime-type</key>
				<string>video/dvr-ms</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
			</array>
			<key>UTTypeDescription</key>
			<string>FLV File</string>
			<key>UTTypeIdentifier</key>
			<string>cn.com.cinemore.fileformat.flv</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>flv</string>
				</array>
				<key>public.mime-type</key>
				<string>video/x-flv</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
			</array>
			<key>UTTypeDescription</key>
			<string>MPG File</string>
			<key>UTTypeIdentifier</key>
			<string>cn.com.cinemore.fileformat.mpg</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mpg</string>
				</array>
				<key>public.mime-type</key>
				<string>video/mpeg</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
			</array>
			<key>UTTypeDescription</key>
			<string>WMV File</string>
			<key>UTTypeIdentifier</key>
			<string>cn.com.cinemore.fileformat.wmv</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>wmv</string>
				</array>
				<key>public.mime-type</key>
				<string>audio/x-ms-wmv</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
			</array>
			<key>UTTypeDescription</key>
			<string>MKV File</string>
			<key>UTTypeIdentifier</key>
			<string>cn.com.cinemore.fileformat.mkv</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mkv</string>
				</array>
				<key>public.mime-type</key>
				<string>video/x-matroska</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
			</array>
			<key>UTTypeDescription</key>
			<string>TS File</string>
			<key>UTTypeIdentifier</key>
			<string>cn.com.cinemore.fileformat.ts</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>ts</string>
					<string>tp</string>
				</array>
				<key>public.mime-type</key>
				<string>video/ts</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
			</array>
			<key>UTTypeDescription</key>
			<string>M2TS File</string>
			<key>UTTypeIdentifier</key>
			<string>cn.com.cinemore.fileformat.m2ts</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>m2t</string>
					<string>m2ts</string>
					<string>mt2s</string>
				</array>
				<key>public.mime-type</key>
				<string>video/m2ts</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
			</array>
			<key>UTTypeDescription</key>
			<string>MTS File</string>
			<key>UTTypeIdentifier</key>
			<string>cn.com.cinemore.fileformat.mts</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mts</string>
				</array>
				<key>public.mime-type</key>
				<string>video/mts</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
			</array>
			<key>UTTypeDescription</key>
			<string>AVI File</string>
			<key>UTTypeIdentifier</key>
			<string>cn.com.cinemore.fileformat.avi</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>avi</string>
				</array>
				<key>public.mime-type</key>
				<string>video/avi</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
			</array>
			<key>UTTypeDescription</key>
			<string>M4V File</string>
			<key>UTTypeIdentifier</key>
			<string>cn.com.cinemore.fileformat.m4v</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>m4v</string>
				</array>
				<key>public.mime-type</key>
				<string>video/m4v</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
			</array>
			<key>UTTypeDescription</key>
			<string>MOV File</string>
			<key>UTTypeIdentifier</key>
			<string>cn.com.cinemore.fileformat.mov</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mov</string>
				</array>
				<key>public.mime-type</key>
				<string>video/mov</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
			</array>
			<key>UTTypeDescription</key>
			<string>MP4 File</string>
			<key>UTTypeIdentifier</key>
			<string>cn.com.cinemore.fileformat.mp4</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mp4</string>
				</array>
				<key>public.mime-type</key>
				<string>video/mp4</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
			</array>
			<key>UTTypeDescription</key>
			<string>MPEG File</string>
			<key>UTTypeIdentifier</key>
			<string>cn.com.cinemore.fileformat.mpeg</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mpeg</string>
					<string>mpg</string>
					<string>mpe</string>
					<string>m2v</string>
				</array>
				<key>public.mime-type</key>
				<string>video/mpeg</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
			</array>
			<key>UTTypeDescription</key>
			<string>MOD File</string>
			<key>UTTypeIdentifier</key>
			<string>cn.com.cinemore.fileformat.mod</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mod</string>
				</array>
				<key>public.mime-type</key>
				<string>video/mod</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
			</array>
			<key>UTTypeDescription</key>
			<string>WTV File</string>
			<key>UTTypeIdentifier</key>
			<string>cn.com.cinemore.fileformat.wtv</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>wtv</string>
				</array>
				<key>public.mime-type</key>
				<string>video/wtv</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
			</array>
			<key>UTTypeDescription</key>
			<string>WebM File</string>
			<key>UTTypeIdentifier</key>
			<string>cn.com.cinemore.fileformat.webm</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>webm</string>
				</array>
				<key>public.mime-type</key>
				<string>video/webm</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
			</array>
			<key>UTTypeDescription</key>
			<string>OGM File</string>
			<key>UTTypeIdentifier</key>
			<string>cn.com.cinemore.fileformat.ogm</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>ogm</string>
				</array>
				<key>public.mime-type</key>
				<string>video/ogm</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
			</array>
			<key>UTTypeDescription</key>
			<string>OGV File</string>
			<key>UTTypeIdentifier</key>
			<string>cn.com.cinemore.fileformat.ogv</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>ogv</string>
				</array>
				<key>public.mime-type</key>
				<string>video/ogv</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
			</array>
			<key>UTTypeDescription</key>
			<string>ASF File</string>
			<key>UTTypeIdentifier</key>
			<string>cn.com.cinemore.fileformat.asf</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>asf</string>
				</array>
				<key>public.mime-type</key>
				<string>video/asf</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
			</array>
			<key>UTTypeDescription</key>
			<string>VOB File</string>
			<key>UTTypeIdentifier</key>
			<string>cn.com.cinemore.fileformat.vob</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>vob</string>
				</array>
				<key>public.mime-type</key>
				<string>video/x-ms-vob</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
			</array>
			<key>UTTypeDescription</key>
			<string>RMVB File</string>
			<key>UTTypeIdentifier</key>
			<string>cn.com.cinemore.fileformat.rmvb</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>rmvb</string>
				</array>
				<key>public.mime-type</key>
				<string>application/vnd.rn-realmedia-vbr</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
			</array>
			<key>UTTypeDescription</key>
			<string>MXF File</string>
			<key>UTTypeIdentifier</key>
			<string>cn.com.cinemore.fileformat.mxf</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mxf</string>
				</array>
				<key>public.mime-type</key>
				<string>application/mxf</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
			</array>
			<key>UTTypeDescription</key>
			<string>DVD Media File</string>
			<key>UTTypeIdentifier</key>
			<string>cn.com.cinemore.fileformat.dvdmedia</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>dvdmedia</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
			</array>
			<key>UTTypeDescription</key>
			<string>RealMedia File</string>
			<key>UTTypeIdentifier</key>
			<string>cn.com.cinemore.fileformat.rm</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>rm</string>
				</array>
				<key>public.mime-type</key>
				<string>application/vnd.rn-realmedia</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
			</array>
			<key>UTTypeDescription</key>
			<string>F4V File</string>
			<key>UTTypeIdentifier</key>
			<string>cn.com.cinemore.fileformat.f4v</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>f4v</string>
				</array>
				<key>public.mime-type</key>
				<string>video/mp4</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
			</array>
			<key>UTTypeDescription</key>
			<string>F4P File</string>
			<key>UTTypeIdentifier</key>
			<string>cn.com.cinemore.fileformat.f4p</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>f4p</string>
				</array>
				<key>public.mime-type</key>
				<string>video/mp4</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.audio</string>
			</array>
			<key>UTTypeDescription</key>
			<string>F4A File</string>
			<key>UTTypeIdentifier</key>
			<string>cn.com.cinemore.fileformat.f4a</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>f4a</string>
				</array>
				<key>public.mime-type</key>
				<string>audio/mp4</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.audio</string>
			</array>
			<key>UTTypeDescription</key>
			<string>F4B File</string>
			<key>UTTypeIdentifier</key>
			<string>cn.com.cinemore.fileformat.f4b</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>f4b</string>
				</array>
				<key>public.mime-type</key>
				<string>audio/mp4</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>SWF File</string>
			<key>UTTypeIdentifier</key>
			<string>cn.com.cinemore.fileformat.swf</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>swf</string>
				</array>
				<key>public.mime-type</key>
				<string>application/x-shockwave-flash</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
			</array>
			<key>UTTypeDescription</key>
			<string>M1V File</string>
			<key>UTTypeIdentifier</key>
			<string>cn.com.cinemore.fileformat.m1v</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>m1v</string>
				</array>
				<key>public.mime-type</key>
				<string>video/mpeg</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
			</array>
			<key>UTTypeDescription</key>
			<string>MPV File</string>
			<key>UTTypeIdentifier</key>
			<string>cn.com.cinemore.fileformat.mpv</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mpv</string>
				</array>
				<key>public.mime-type</key>
				<string>video/mpeg</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
			</array>
			<key>UTTypeDescription</key>
			<string>M2P File</string>
			<key>UTTypeIdentifier</key>
			<string>cn.com.cinemore.fileformat.m2p</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>m2p</string>
				</array>
				<key>public.mime-type</key>
				<string>video/mpeg</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
			</array>
			<key>UTTypeDescription</key>
			<string>PS File</string>
			<key>UTTypeIdentifier</key>
			<string>cn.com.cinemore.fileformat.ps</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>ps</string>
				</array>
				<key>public.mime-type</key>
				<string>video/mpeg</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
			</array>
			<key>UTTypeDescription</key>
			<string>DivX File</string>
			<key>UTTypeIdentifier</key>
			<string>cn.com.cinemore.fileformat.divx</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>divx</string>
				</array>
				<key>public.mime-type</key>
				<string>video/x-divx</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
			</array>
			<key>UTTypeDescription</key>
			<string>DV File</string>
			<key>UTTypeIdentifier</key>
			<string>cn.com.cinemore.fileformat.dv</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>dv</string>
				</array>
				<key>public.mime-type</key>
				<string>video/x-dv</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
			</array>
			<key>UTTypeDescription</key>
			<string>3GP File</string>
			<key>UTTypeIdentifier</key>
			<string>cn.com.cinemore.fileformat.3gp</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>3gp</string>
				</array>
				<key>public.mime-type</key>
				<string>video/3gpp</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
			</array>
			<key>UTTypeDescription</key>
			<string>3GPP File</string>
			<key>UTTypeIdentifier</key>
			<string>cn.com.cinemore.fileformat.3gpp</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>3gpp</string>
				</array>
				<key>public.mime-type</key>
				<string>video/3gpp</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
			</array>
			<key>UTTypeDescription</key>
			<string>3GP2 File</string>
			<key>UTTypeIdentifier</key>
			<string>cn.com.cinemore.fileformat.3gp2</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>3gp2</string>
				</array>
				<key>public.mime-type</key>
				<string>video/3gpp2</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.iso-image</string>
			</array>
			<key>UTTypeDescription</key>
			<string>ISO Image File</string>
			<key>UTTypeIdentifier</key>
			<string>cn.com.cinemore.fileformat.iso</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>iso</string>
				</array>
				<key>public.mime-type</key>
				<string>application/x-iso9660-image</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>M3U8 Playlist File</string>
			<key>UTTypeIdentifier</key>
			<string>cn.com.cinemore.fileformat.m3u8</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>m3u8</string>
				</array>
				<key>public.mime-type</key>
				<string>application/vnd.apple.mpegurl</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.xml</string>
			</array>
			<key>UTTypeDescription</key>
			<string>MPD Manifest File</string>
			<key>UTTypeIdentifier</key>
			<string>cn.com.cinemore.fileformat.mpd</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mpd</string>
				</array>
				<key>public.mime-type</key>
				<string>application/dash+xml</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>STRM Stream File</string>
			<key>UTTypeIdentifier</key>
			<string>cn.com.cinemore.fileformat.strm</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>strm</string>
				</array>
				<key>public.mime-type</key>
				<string>text/plain</string>
			</dict>
		</dict>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
</dict>
</plist>
